/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

body {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 10%;
  margin-bottom: 5%;
}

h1 {
  font-size: 32px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  text-decoration: none;
  margin-bottom: 0;
  color: #3B4358;
  font-weight: 600;
  letter-spacing: .01em;
  line-height: 51px;
}

h2 {
  margin-bottom: 5%;
  margin-top: 0;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: bold;
  color: #3B4358;
}

#nav ul {
  margin: 0;
  padding: 0;
  width: 60%;
  margin: 20px 0px 50px 0px;
}

#nav a {
  text-decoration: none;
  margin-left: 0%;
  padding-right: 5%;
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #959ba6;
  font-weight: 200;
  font-size: 18px;
}

#nav a:hover {
  color: #3B4358;
}

.logotextdiv {
  margin-top: 1%;
}

.logo {
  width: 15%;
  height: 15%;
  border-radius: 15px;
  margin-right: 25px;
  margin-bottom: 5%;
}

.textdiv {
  display: inline-block;
  width: 400px;
  height: 100%;
  vertical-align: top;
  padding: none;
}

.text {
  text-align: left;
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #576a74;
  font-weight: 200;
  font-size: 18px;
  margin-top: 0;
  margin-right: 5%;
}

a {
  text-decoration: none;
  color: #D1826F;
}

a:hover {
  text-decoration: none;
  color: #BE5941;
}

footer {
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #576a74;
  font-weight: 200;
  font-size: 12px;
}

#resume {
  width: 85%;
}

.personalitypic {
  width: 40%;
  margin-right: 5%;
  margin-bottom: 5%;
}
