/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

header {
  margin-bottom: 5%;
  /* text-align: right; */
  display: flex;
  justify-content: space-between;
}

body {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
  /* display: flex;
  justify-content: space-between; */
}

h1 {
  font-size: 32px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  text-decoration: none;
  margin: 0;
  color: #3b4358;
  font-weight: 600;
  letter-spacing: .01em;
  line-height: 51px;
  width: 40%;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: 600;
  color: #546fd6;
}

#hiimkathy {
  margin-bottom: 5%;
}

/* h3 {
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: 600;
  margin: 0;
  /* font-size: 24px */
  /* color: #3B4358; */
  /* color: #546FD6; */
/* } */

#personallogo {
  width: 15%;
}

#personallogodiv {
  text-align: right;
  width: 40%;
  margin: 0;
  display: inline-block;
}

nav {
  width: 50%;
  /* margin-right: 0; */
  display: inline-block;
  text-align: right;
  /* direction: rtl; */
}

#nav a {
  text-decoration: none;
  margin-left: 0%;
  padding-left: 5%;
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #959ba6;
  font-weight: 400;
  font-size: 18px;
}

#nav a:hover {
  color: #3B4358;
}

#nav a:active {
  color: #3B4358;
}

#nav a:focus {
  color: #3B4358;
}

#nav a:target {
  color: #3B4358;
  border: 2px solid #D4D4D4;
  background-color: #e5eecc;
}

index.html:target {
  color: #3B4358;
}

.logotextdiv {
  margin-bottom: 7%;
}

.logo {
  width: 45%;
  height: 20%;
  border-radius: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  box-shadow: 0px 2px 24px rgba(163, 163, 163, 0.5)
}

.logo:hover {
  opacity: 0.5;
  /* filter: alpha( opacity = 30 ); */
  /* background: 0px 2px 24px rgba (61, 61, 61, 0.5); */
}

.textdiv {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  padding: none;
  /* float: right;  */
}

.abouttextdiv {
  float: right;
  width: 45%;
  height: 100%;
  vertical-align: top;
  padding: none;
}

.text {
  text-align: left;
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #576a74;
  font-weight: 400;
  font-size: 18px;
  margin-top: 0;
  margin-right: 5%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #546FD6;
}

a:hover {
  color: #90A1E5;
}

  /* {
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #576a74;
  font-weight: 400;
  font-size: 12px; */
  /* display: flex-inline; */
  /* width: 30%;
  margin-left: 0;
  margin-right: 0;
} */

.contactlogo {
  width: 5%;
  text-align: right;
}

.contactlogodiv {
  text-align: left;
  width: 500px;
  margin-right: 0;
  /* display: flex-inline; */
}

.resume {
  width: 100%;
}

.personalitypic {
  width: 49%;
  margin-right: 5%;
  margin-bottom: 5%;
}

h5 {
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #3B4358;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

h3 {
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: 400;
  color: #959ba6;
  margin: 16px 0px;
  font-size: 18px;
}

.firstname {
  color: #3b4358;
}

.firstname:hover {
  color:#959ba6;
}

footer {
  display: inline-block;
  width: 100%;
  margin-right: 0;
}

#lastlogotextdiv {
  margin-bottom: 0%;
}

.cta {
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: 600;
  color: #546FD6;
  border: 1px solid #546FD6;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  white-space: nowrap;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5%;
  display: block;
  width: 120px;
  text-align: center;
}

.cta:hover {
  color: #90A1E5;
  border: 1px solid #90A1E5;
}

.comingsoon {
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: 600;
  color: #3b4358;
  border: 1px solid #3B4358;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  white-space: nowrap;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5%;
  display: block;
  width: 55%;
  text-align: center;

  /* font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: 600;
  color: #3b4358;
  border: 1px solid #3b4358;
  border-radius: 5px;
  padding: 12px;
  font-size: 12px;
  white-space: nowrap;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5%;
  display: block;
  width: 45%;
  text-align: center; */
}

@media screen and (max-width: 600px) {
  .logo, .textdiv {
    width: 100%;

  }
}

@media screen and (max-width: 600px) {
  .logotextdiv {
    margin-bottom: 15%;

  }
}

@media screen and (max-width: 600px) {
  #lastlogotextdiv {
    margin-bottom: 0%;

  }
}

@media screen and (max-width: 750px) {
  .personalitypic, .abouttextdiv {
    width: 100%;
  }
}


@media screen and (max-width: 750px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 750px) {
  header {
    display: inline;
  }
}

@media screen and (max-width: 750px) {
  nav {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  h1 {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  ul {
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
  #nav a {
    padding: 0%;
  }
}

@media screen and (max-width: 750px) {
  #nav {
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 750px) {
  #work, #resume {
    margin-left: 35px;
    margin-right: 35px;
  }
}

#work:target {

}
