/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

header {
  margin-bottom: 5%;
  /* text-align: right; */
  display: flex;
  justify-content: space-between;
}

body {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
  /* display: flex;
  justify-content: space-between; */
}

h1 {
  font-size: 32px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  text-decoration: none;
  margin: 0;
  /* color: #3B4358; */
  font-weight: 600;
  letter-spacing: .01em;
  line-height: 51px;
  width: 40%;
}

h2 {
  margin-bottom: 5%;
  margin-top: 0;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: bold;
  color: #3B4358;
}

#personallogo {
  width: 15%;
}

#personallogodiv {
  text-align: right;
  width: 40%;
  margin: 0;
  display: inline-block;
}

nav {
  width: 50%;
  /* margin-right: 0; */
  display: inline-block;
  text-align: right;
  /* direction: rtl; */
}

#nav a {
  text-decoration: none;
  margin-left: 0%;
  padding-left: 5%;
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #959ba6;
  font-weight: 200;
  font-size: 18px;
}

#nav a:hover {
  color: #3B4358;
}

.logotextdiv {
  margin-bottom: 1%;
}

.logo {
  width: 20%;
  height: 20%;
  border-radius: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.textdiv {
  display: inline-block;
  width: 74%;
  height: 100%;
  vertical-align: top;
  padding: none;
  /* float: right;  */
}

.abouttextdiv {
  float: right;
  width: 45%;
  height: 100%;
  vertical-align: top;
  padding: none;
}

.text {
  text-align: left;
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #576a74;
  font-weight: 200;
  font-size: 18px;
  margin-top: 0;
  margin-right: 5%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #546FD6;
}

/* a:hover {
  text-decoration: none;
  color: #BE5941;
} */

  /* {
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #576a74;
  font-weight: 200;
  font-size: 12px; */
  /* display: flex-inline; */
  /* width: 30%;
  margin-left: 0;
  margin-right: 0;
} */

.contactlogo {
  width: 5%;
  text-align: right;
}

.contactlogodiv {
  text-align: left;
  width: 500px;
  margin-right: 0;
  /* display: flex-inline; */
}

.resume {
  width: 100%;
}

.personalitypic {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 5%;
}

h3 {
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #576a74;
  font-weight: 200;
  font-size: 12px;
  /* display: flex-inline; */
  width: 30%;
  margin-left: 0;
  margin-right: 0;
}

.firstname {
  color: #000000;
}

footer {
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .logo, .textdiv {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .personalitypic, .abouttextdiv {
    width: 100%;
  }
}


@media screen and (max-width: 750px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 750px) {
  header {
    display: inline;
  }
}

@media screen and (max-width: 750px) {
  nav {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  h1 {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  ul {
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
  #nav a {
    padding: 0%;
  }
}

@media screen and (max-width: 750px) {
  #nav {
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 750px) {
  #work, #resume {
    margin-left: 35px;
    margin-right: 35px;
  }
}
